.not-found-container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.not-found-container h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.not-found-container p {
  margin-bottom: 25px;
}

.not-found-container a {
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 5px;
  background: #4caf50;
  color: white;
}